
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'RocknRoll One', sans-serif;
    /* background: url(../images/eska-mono-black-voor.jpg); */
    /* background: rgb(12, 12, 12); */
}

html{

    font-size: 62.5%;
}
.container{
    
        /* max-width: 1000px; */
        /* width: 100%; */
        margin: auto;

}


/* #################################  Navbar ###################################### */
img{
    height: 8rem;
    
    margin-top: 2rem;
}


.navbar{
    background: url(../images/backgroung\ cover.png);
    height:98vh;
    width: 152rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    /* width: 120rem; */
    display: flex;
    justify-content: space-around;

}
.nav-items a{
    text-decoration: none;
    font-weight: 700;
    color: #ff4600;
    /* list: none; */
     font-size: 1.5rem;
     padding: 1rem;
     margin-right: 2rem;
     transition: all 0.4s ease-in-out;

    
     
   
}
.nav-items {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 1rem;
   
}
.nav-items a:hover{
    color: #000000;
    /* border-bottom: #ff6800 2px solid; */
}

/* ########################################## home page cover ################################################ */



.btn1{
   position:absolute ;
   margin-top:53rem;
   margin-left: 0%; 

   

}
.btn1 a{

    /* border: #009de0 solid 0.2rem; */
    box-shadow:  5px 8px 15px rgba(0, 0, 0, 0.37);;
    border-radius: 2rem;
    
    list-style: none;
    text-decoration: none;
    background-color: #ff4600;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

 
}
.btn1 a:hover{
    background-color: #009de0;
    color: #000;


}

.navbar h1 img{
    height: 13rem;
    width: 13rem;
    margin-top: -2.5rem;
}

/* ________________________________ Social Media _______________________________________  */


.Social-media img{

    height: 70rem;
    width: 100%;
    position: absolute;
    margin-top: 342rem;

}

 
.btn0{
    z-index: 2;
    position: absolute;
    font-size: 2rem;
    list-style: none;
    margin-top  : 348rem;

    

}
.btn0 a{
    z-index: 20;
    text-decoration: none;
    /* border: white solid 0.2rem; */
    border-radius: 0.5rem;
    color: whitesmoke;
    padding: 1rem;
    /* width: 10rem; */
   
    
}

.youtube{
    z-index: 20;
    display: inline-block;
    background: red;
    /* border: rgb(255, 0, 0) solid 0.2rem; */
    margin-left: 25rem;
    margin-top: 22rem;
    transition: all 0.3s ease-in-out;
}
.youtube:hover{

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.btn00{
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    list-style: none;
    margin-top  : 352rem;
    padding-left: 1rem;
    padding-right: 1rem;


}
.btn00 a{
    z-index: 1;
    text-decoration: none;
    /* border: white solid 0.2rem; */
    border-radius: 0.5rem;
    color: whitesmoke;
    padding: 1rem;
  
   
   

}
.insta{
    z-index: 1;
    margin-left: 104rem;
    display: block;
    background: rgb(255, 0, 234);
    /* border: rgb(255, 0, 234) solid 0.2rem; */
    margin-top: 19rem;
    transition: all 0.3s ease-in-out;

}
.insta:hover{

    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* border: rgb(255, 255, 255) solid 0.3rem; */
}




/* ---------------------------------  Abiut Us --------------------------------------  */

.container3{
    position:absolute;
    margin-top: 64rem;
    background: url(../images/cover5.jpg);
    width: 152rem;
    /* max-width: 1400px; */
}
.aboutus h1{
    display: inline-block;
    margin-top: 6rem;
    margin-left: 12rem;
    /* border-bottom: white 3px solid; */
    width: 60rem;
    margin-right: 12rem;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    padding-left: 1.5rem;

}
.aboutus h1:hover{
    color:#009de0;
}
.aboutus .welcome{
font-size: 2.3rem;
margin-top: 6rem;
margin-left: 15rem;
/* border-bottom: white 3px solid; */
color: rgb(0, 0, 0);
padding-left: 3rem;
/* margin-bottom: 0.7rem; */

}
.aboutus p{
    display: inline-block;
    font-size: 1.6rem;
    color: #000000;
    width: 60rem;
    margin-left: 19rem;
}
.aboutus span{
    color: #ff6800;
    transition: all 0.3s ease-in-out;
}
.aboutus span:hover{
    color: #009de0;
    
}
.aboutus .space{
    color: rgb(255, 255, 255);
}
.aboutus .space:hover{
    color: rgb(255, 255, 255);
}
.about-image img{
     position: absolute;
     height: 40rem;
     width: 47rem;
    margin-top: 86rem;
    margin-left: 91rem;
    border: #000000 0.5rem solid;


}
 .abi img{
    z-index: 500000;
    position: absolute;
    height: 40rem;
    width: 51rem;
   margin-top: 142rem;
   margin-left: 91rem;
   border: #000000 0.5rem solid;


}
 /* ------------------------------------ our message ----------------------------  */

 .om{
     background: url(../images/cover5.png);
     margin-top: 134.5rem;
     position: absolute;
     width: 152rem;
     height: 61rem;

 }
 .om .colour{
     color: #000000;
     font-size: 2.6rem;
     /* width: 100rem; */
     margin-left: 12rem;
     /* margin-top: 8rem; */
     
 }
 .om h3{
     margin-top: 4rem;
 }

 .om .now{
     color: #009de0;
     /* text-shadow:  30px 20px 30px rgb(0, 0, 0); */
     font-weight: 700;

 }
 .om h1{
    display: inline-block;
    margin-top: 6rem;
    margin-left: 12rem;
    /* border-bottom: white 3px solid; */
    width: 60rem;
    margin-right: 12rem;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    padding-left: 1.5rem;

 }
 .om p{
    display: inline-block;
    font-size: 2rem;
    color: #000000;
    width: 60rem;
    margin-left: 14rem;
}
.om .btnom{
    margin-left: 28rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    background-color: #ff4600;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

}
.om .btnom:hover{
    background-color: #009de0;
    color: #000000;
}


/* ----------------------------------- which la ew teaxhes ------------------------ */


.container4{
    position:absolute;
    margin-top: 196.2rem;
    background: url(../images/cover5.jpg);
    height:70rem ;
    
    width: 152rem;
    background-repeat: repeat;

}
.container4 .space{
    color: rgb(255, 255, 255);
}
.container4 .space:hover{
    color: rgb(252, 252, 252);
}
.pg{
    font-size: 2.3rem;
margin-top: 7rem;
margin-left: 12rem;
/* border-bottom: white 3px solid; */
color: rgb(0, 0, 0);
padding-left: 3rem;
margin-bottom: 0.9rem;
}
.container4 li{
    /* text-decoration: none; */
    /* list-style: square #ff4600 1rem; */

    display: inline-block;
    font-size: 1.6rem;
    color: #000000;
    width: 40rem;
    margin-left: 14rem;
    padding-bottom: 2rem;
    margin-top: 2rems;
    
}
.container4 .imge{
    height: 3rem;
    width: 3rem;
    /* padding-top: 0rem;   */
    margin-left: 5rem;
    /* margin-top: -0.2rem; */

}
.container4 span{
    color: #009de0;
}
.container4 .j{
    color: #ff4600;
}
.container4 span:hover{
    color: #ff6800;
}
.container4 p{
    display: inline-block;
    font-size: 1.6rem;
    color: #000000;
    /* width: 60rem; */
    margin-left: 14rem;

}
.container4  .java{
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 4rem;
}
.container4  .php{
    height: 3rem;
    width: 5rem;
    margin-left: 4rem;

}
.container4  .js{
    
    height: 3rem;
    width: 2.5rem;
    margin-left: 1rem;
    margin-top: 1rem;

}
.la-p img{
    position: absolute;
    height: 40rem;
   width: 45rem;
   /* position: absolute; */
   margin-top: 210rem;
   margin-left: 91rem;
   border: #000000 0.5rem solid;
   /* box-shadow:  30px 20px 30px rgb(0, 0, 0); */


}

/* ------------------------------- founder --------------------------------------  */


.container5{
    position:absolute;
    margin-top: 273rem;
    background: url(../images/cover5.jpg);
    height:70rem ;
    
    width: 152rem;
    background-repeat: repeat;


}

.container5 h2{
    display: inline-block;
    margin-top: 6rem;
    margin-left: 12rem;
    /* border-bottom: white 3px solid; */
    width: 60rem;
    margin-right: 12rem;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    padding-left: 1.5rem;

}
.container5 p{
    display: inline-block;
    font-size: 1.6rem;
    color: #000000;
    width: 60rem;
    margin-left: 14rem;
    margin-top: 5rem;

}
.container5 span {
    color: rgb(250, 250, 250);
}
.container5 .b{
    color:#ff4800;
}

.prince img{
     z-index: 30;
     position: absolute;
    height: 40rem;
     width: 45rem;
     border: #000000 0.5rem solid;
     margin-top: 283rem;
     margin-left: 91rem;
    /* border: #ffffff 0.1rem solid; */
     /* box-shadow:  30px 20px 30px rgb(0, 0, 0); */

}


/* --------------------------------- footer -----------------------------------------------  */
.container6{
    position: absolute;
    margin-top: 412.4rem;
    background: #ffffff;
    /* padding-top: 9rem; */
    width: 152rem;
    

}
#footer{
    display: flex;
    position: relative;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    font-size: 1.6rem;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    padding: 3rem;
    color: #000000;
    background: url(../images/cover5.png);
    text-shadow: rgba(0, 0, 0, 0.308) 2px 2px;
    /* width: 50rem; */
    
    

}
#footer img{
    height: 4rem;
    width: 11.5rem;
}

.line{
    border-bottom: #f4f4f4 2px solid;
    padding: 1rem;
}

li{
    list-style: none;
}

.sm{
    margin-right: 5rem;
    /* padding: 1rem; */
    color: rgb(0, 0, 0);
}
.sm-links{
    margin-left: 60rem;
}
  

/* --------------------------------- scroll up --------------------------------------  */

#myBtn {

    position: fixed; 
    bottom:5px; 
    right: 5px; 
    z-index: 9900000000000000000; 
    border: none; 
    outline: none; 
    background-color: rgba(255, 0, 0, 0); 
    cursor: pointer;
    padding: 15px;

  }
